<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>processPayment</display-name>
    <servlet-name>processPayment</servlet-name>
    <servlet-class>processPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processPayment</servlet-name>
    <url-pattern>/processPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>processRent</display-name>
    <servlet-name>processRent</servlet-name>
    <servlet-class>processRent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processRent</servlet-name>
    <url-pattern>/processRent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCarServlet</display-name>
    <servlet-name>DeleteCarServlet</servlet-name>
    <servlet-class>DeleteCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCarServlet</servlet-name>
    <url-pattern>/DeleteCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCarServlet</display-name>
    <servlet-name>UpdateCarServlet</servlet-name>
    <servlet-class>UpdateCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCarServlet</servlet-name>
    <url-pattern>/UpdateCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCarActionServlet</display-name>
    <servlet-name>UpdateCarActionServlet</servlet-name>
    <servlet-class>UpdateCarActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCarActionServlet</servlet-name>
    <url-pattern>/UpdateCarActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRentalServlet</display-name>
    <servlet-name>UpdateRentalServlet</servlet-name>
    <servlet-class>UpdateRentalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRentalServlet</servlet-name>
    <url-pattern>/UpdateRentalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRentalServlet</display-name>
    <servlet-name>DeleteRentalServlet</servlet-name>
    <servlet-class>DeleteRentalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRentalServlet</servlet-name>
    <url-pattern>/DeleteRentalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRentalActionServlet</display-name>
    <servlet-name>UpdateRentalActionServlet</servlet-name>
    <servlet-class>UpdateRentalActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRentalActionServlet</servlet-name>
    <url-pattern>/UpdateRentalActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageLocationsServlet</display-name>
    <servlet-name>ManageLocationsServlet</servlet-name>
    <servlet-class>ManageLocationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageLocationsServlet</servlet-name>
    <url-pattern>/ManageLocationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManagementServlet</display-name>
    <servlet-name>CustomerManagementServlet</servlet-name>
    <servlet-class>CustomerManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManagementServlet</servlet-name>
    <url-pattern>/CustomerManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManagementServlets</display-name>
    <servlet-name>CustomerManagementServlets</servlet-name>
    <servlet-class>CustomerManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManagementServlets</servlet-name>
    <url-pattern>/CustomerManagementServlets</url-pattern>
  </servlet-mapping>
</web-app>